* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  /* margin: 10px; */
  padding: 10px;
  height: 100vh;
  color: white;
  font-size: 2rem;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /*3 times repeat-i fractional part of the total space*/
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}
.item {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  background-color: rgb(237, 143, 20);
  grid-column-start: 1;
  grid-column-end: 4;
}
.sidebar {
  background-color: aqua;
  grid-row-start: 2;
  grid-row-end: 4;
}
.content1 {
  background-color: rgb(14, 237, 163);
  grid-column-start: 2;
  grid-column-end: 4;
}
.content2 {
  background-color: blue;
}
.content3 {
  background-color: blueviolet;
}
.footer {
  background-color: brown;
  grid-column-start: 1;
  grid-column-end: 4;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .sidebar,
  .content1,
  .content2,
  .content3 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .sidebar {
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
