* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}
h2 {
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  color: #aeaeae;
}
.grid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  /*much better way for esponsive desgin*/

  /* grid-template-rows: repeat(3, 1fr); */
  /*
  Why there is no noticeable effect without it?
  Implicit Grid Behavior: If you don't define grid-template-rows, 
  the grid will automatically create rows as needed based on the content inside the grid items. 
  The height of each row will be determined by the tallest item in that row or by the content itself. 
  This implicit grid behavior might be why removing grid-template-rows doesn’t cause a noticeable effect.

  When grid-template-rows is useful:
  It becomes important when you want to explicitly control the height of each row in the grid.
  For example, grid-template-rows: repeat(3, 1fr) ensures that there are three equally spaced rows, 
  regardless of their content.
  If your content naturally fits into the grid without specific row heights, 
  then removing grid-template-rows might not show any visual difference. 
  The browser will handle the row heights based on the content, and in some cases, 
  this implicit behavior is sufficient.
  */
  gap: 25px;
  width: 80vw;
  margin: 0 auto;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  /* justify-content: space-between; */
  border: 1px solid black;
  overflow: hidden;
  height: 100%;
}
.image {
  flex: 7;
  height: 55%;
  width: 100%;
}
.card:hover .image {
  transform: scale(1.1);
  transition: 200ms;
}
.title {
  font-weight: bold;
  padding: 0px 20px;
  margin-top: 15px;
  flex: 1;
}
.text {
  padding: 0px 20px;
  flex: 1;
}
.profile {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  padding: 10px 20px;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  image-rendering: auto;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}
.pname,
.date {
  grid-column-start: 2;
  grid-column-end: 5;
  justify-self: start;
  margin-left: 10px;
}
.tag {
  border: 1px solid grey;
  background-color: #e8e8e8;
  padding: 5px 10px;
  border-radius: 10px;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 6;
  text-align: center;
}
